<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d{MMM dd yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="myFile" fileName="./log/runs.log" append="true">
   	  <PatternLayout pattern="%d{MMM dd yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="myFile"/>
    </Root>
  </Loggers>
</Configuration>